.x{
    color:chartreuse;
}

.s1{
    background-color: chartreuse;
}



.y{
color:purple;

}
.s2{
background-color:purple;

}

.z{
    color:cyan;
}
.s3{
    background-color: cyan;
}
.t{
    color:coral;
}
.s4{
    background-color: coral;
}
.q{
    color:blue;
}
.s5{
    background-color:blue;
}