h1{
    color:green;
}
.guzel{

    color:var(--guzel,blueviolet);
    background-color: chartreuse;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    display: inline-block;
}