.outerDiv{
    background-color: blue;
    height: 300px;
    width: 300px;
    border: 2px solid;
}
.middleDiv{
    background-color: rgb(219, 14, 181);
    height: 200px;
    width: 200px;
    border: 2px solid;
}
.innerDiv{
    background-color: rgb(15, 220, 59);
    height: 100px;
    width: 100px;
    border: 2px solid;
}